---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Welcome to Astro.">
	<main>
		<input id="searchInput" type="text" minlength="5">
		<button id="loadButton">Show data</button>
		<ul id="magnetLinks"></ul>
		
	</main>
</Layout>

<script>
	let torrentData;
	const searchInput:HTMLInputElement|null = document.getElementById("searchInput");
	const magnetLinks = document.getElementById("magnetLinks");
	const loadButton = document.getElementById("loadButton");

	loadButton.addEventListener("click", async () => {
	
		const searchValue=searchInput?.value
		let response = await fetch(`/scrapper?q=${searchValue}`);
		torrentData = await response.json();
		magnetLinks.innerHTML=''
		torrentData.forEach((torrent) => {
			const magnetLinkItem = document.createElement("li");
			const magnetLink = document.createElement("a");
			magnetLink.href = torrent.magnet;
			magnetLink.text = torrent.description;

			magnetLinkItem.appendChild(magnetLink);
			magnetLinks?.appendChild(magnetLinkItem);
		});
	});
</script>
